    .campus_mainDiv img{
width:100%;
height:300px;
}
.campus_mainDiv hr{
width:100%;
}
.campus_mainDiv h5, campus_mainDiv p{
margin-left:20px;
}
.row:: after{
content:"";
clear:both;
display:table;
}
.campus_mainDiv{
float:left;
width:33.33%;
padding:5px;
border:1px solid #c7c7c7;
}
#footer{
height:20px;
background-color:white;
}
#school_achievement1{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#school_achievement2{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#school_achievement3{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
